* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;    
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    height: 100%;
    width: 100%;
    background-position: center;  
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* @media screen and (max-width:[ANCHO]px) */

@media screen and (min-widh:960px){
    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: black;
        height: 100%;
        width: 100%;
        background-position: center;  
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    } 
}

.fighter {
    display: flex;
    flex-direction: row;
    margin: 20em;
    width: 8em; 
}

.player {
    display: flex;
    justify-content: center;
    width: 8em;
    height: 8em;
    cursor: pointer;
}

.playerA {
    filter: grayscale(70%);
}

.playerB {
    filter: grayscale(70%);
}

.hitButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5em;
}

.attack {
    height: 5em;
    width: 5em;
    border-radius: 0.5em;
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
    cursor: pointer;
    color: white;
    margin: 1em;
}

.front0 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/marioVSsonic.jpg);
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

.front1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/FondeRe.jpg);
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

.front2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/Nintendo.png);
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

.front3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/FondoNintendo.jpg);
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

.opponents {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 20em;
}

.wins {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20em;
    margin-top: 4em;
}

.teamStyle {
    width: 7em;
    height: 7em;
}

.life {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25em;
    height: 5em;
    margin-top: 3.7em;
    overflow: visible;
}

.lifePlayer{
    color: white;
    height: 1em;
}

.resetButton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    height: 2em;
    width: 12em;
    border-radius: 0.5em;
    margin-top: 2em;
    cursor: pointer;
}

.cover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 85%;
    flex-direction: column;
}

.startButton{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    background-position: center;
    background-size: contain;
    color:white;

    cursor: pointer;
    font-size: 2em;
    width: 10em;
    height: 10em;
    border-radius: 10em;
    margin-bottom: 15em;
    margin-left: 5.5em;
}

progress[value]{
    border: none;
    height: 0.7em;
}

progress[value]::-webkit-progress-bar {
    background-color: white;
    border-radius: 5em 5em 5em 5em;
}
progress[value]::-webkit-progress-value {
    background-color: green;
    border-radius: 5em 5em 5em 5em;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    color:white;
    margin-top: 2em;

}
