* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    height: 45em; 
    width: 89em;
    /* background-image: url('../img/segaVSnintendo.jpeg'); */
    background-position: center;  
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.fighter {
    display: flex;
    flex-direction: row;
    margin: 1em;
    /* height: 20em;
    width: 10em; */
    width: 8em;
    
}

.player {
    display: flex;
    justify-content: center;
    /* border: solid 0.2em orange; */
    width: 15em;
}

.playerA {
    border: solid 0.2em red;
    filter: grayscale(70%);
}

.playerB {
    border: solid 0.2em green;
    filter: grayscale(70%);

}

.hitButton {
    display: flex;
    background-color: grey;
    width: 2em;
    height: 2em;
    border-radius: 0.5em;
}


.front1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* width: 100%; */
}

.front2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.opponents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pepeStile {
    width: 15em;
    height: 15em;
}

